/*application stying*/

body.application {
    padding: 0;
    background-color: #5a5f63;
    font-family: Lato, Arial;
    color: black;

}

div.introjs-tooltiptext {
    font-family: Lato, Arial;
    color: black;
}

.row{
    margin: 0;
}
.container-fluid{
    margin-left: 5px;
    margin-right: 5px;
}

/*main content*/

#menu-select {
    padding: 5px 5px 5px 0;
}

#attendance-div{
    color: black;
    padding:0 3px 0 3px;
    text-align: right;
}

#avg-attendance{
    color: black;
    padding-left: 5px;
    padding-right: 0;
    text-align: left;
}

#tourStep1 {
    height: 302px;
}

div.chart-title {
    padding-right: 5px;
}
.dc-select-menu{
    width: 100%;
}

.badge-div{
    text-align: center;
}

#team-badge {
    width: 170px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#stats-div {
    padding-left: 5px;
    padding-right: 5px;
    height: 215px;
}

#stats-name1, #stats-name2,  #stats-name3,
#stats-name3a ,#stats-name4, #stats-name4a,
#stats-name5, #stats-name6, #stats-name7,
#stats-name8 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3px;
    color: black;
    font-size: 13px;
}

span.number-display {
    color: black;
}

.goal-details-row {
    padding-right: 5px;
    padding-left: 5px;
}

.goal-details-div {
    padding-bottom: 15px;
}

/*header styling*/

.header {
    background-color: #7490a5;
    /*height: 110px;*/
    border-bottom: 10px solid black;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

#info-btn {
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    color: whitesmoke;
}

/*table formatting & spacing*/

.dc-table-column {
    padding-left: 15px;
}

thead {
    padding: 5px;
}

div.chart-title {
    height: 30px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/*remove blank rows from table*/
.dc-table-label {
    visibility: collapse;
    height: 0;
    display: none;

}

.dc-table-group {
    visibility: collapse;
    height: 0;
    display: none;
    color: black;
}

/*acknowledgements*/

.git-icons {
    height: 40px;
    width: 40px;
    float: left;
}

.acknowledgements-div {
    margin-bottom: 80px;
}

.acknowledgements {
    height:50px;
    cursor: pointer;
    cursor: hand;
}

a div p {
    /*margin-top: 12px;*/
    position:relative;
    color: black;
    top:0%;
}

a div p:hover {
    text-decoration: underline;
}

/*footer*/
footer {
    background-image: url("/static/img/grass.png");
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
    background-size: 100% 100%;
    z-index: 99;
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

/* stats-div to match height of shots charts*/

    #stats-div {
        height: 105px;
    }
}

